celery>=5.3.1
dash>=1.0.2
dash-core-components>=1.0.0
dash-html-components>=1.0.0
dash-renderer>=1.0.0
dash-table>=4.0.2
ipywidgets>=8.1.0
Flask>=1.1.1
Flask-Compress>=1.4.0
flower>=2.0.0
fredapi>=0.4.3
gunicorn>=19.9.0
jupyter-dash>=0.4.2
jupyterlab>=4.0.5
kaleido>=0.1.0,<0.2.0 # as of Kaleido 0.2.1, the image processig is too slow.
numpy>=1.22.3
openpyxl>=3.0.7
pandas>=0.25.0
pyxirr>=0.7.2
redis>=3.3.8
yfinance>=0.2.28
pandas_market_calendars>=4.1.4,<4.2 # 4.2 seems to be broken