dash>=1.0.2
dash-core-components>=1.0.0
dash-html-components>=1.0.0
dash-renderer>=1.0.0
dash-table>=4.0.2
Flask>=1.1.1
Flask-Compress>=1.4.0
gunicorn>=19.9.0
pandas>=0.25.0
rq>=1.1.0
redis>=3.3.8
yfinance>=0.1.63
pandas_market_calendars>=1.2