# configurations for the folioflex application
# ----------------
# there are some symbols that are special characters
# `static`: used to reference static values
# `$`: used to reference an environment variable

#    _____             __ _       
#   / ____|           / _(_)      
#  | |     ___  _ __ | |_ _  __ _ 
#  | |    / _ \| '_ \|  _| |/ _` |
#  | |___| (_) | | | | | | | (_| |
#   \_____\___/|_| |_|_| |_|\__, |
#                            __/ |
#                           |___/
#
# These values are mainly used in the dashboard

config:
  credentials:
    ffx_username: folioflex
    ffx_password: strongpassword
  api:
    fred_api: None
    scrapingbee_api: None
    yodlee_client_id: None
    yodlee_secret: None
    yodlee_endpoint: None
  gpt:
    hugchat_login: None
    hugchat_password: None
    openai_api_key: None
    browser_location: None
    browser_extension: None
  other:
    redis_url: None
    local_redis: None
    smtp_username: None
    smtp_password: None
    smtp_server: None
    smtp_port: 587
  # only postgres is supported
  # used in dashboard to connecto to budget
  database:
    db_name: None
    db_user: None
    db_pass: None
    db_host: None
    db_port: 5432

#   _____                     _                        _       
#  |_   _|                   | |                      | |      
#    | |  _ ____   _____  ___| |_ _ __ ___   ___ _ __ | |_ ___ 
#    | | | '_ \ \ / / _ \/ __| __| '_ ` _ \ / _ \ '_ \| __/ __|
#   _| |_| | | \ V /  __/\__ \ |_| | | | | |  __/ | | | |_\__ \
#  |_____|_| |_|\_/ \___||___/\__|_| |_| |_|\___|_| |_|\__|___/                                                 
#
# These values are used to initialize the portfolio

investments:
  demo:
    tx_file: static.tx_file
    filter_type: static.filter_type
    filter_broker: [] # brokers to filter to
    funds: static.funds
    delisted: static.delisted
    benchmarks: ["IVV"] # benchmarks to compare against
    other_fields: []

  company_a:
    tx_file: static.tx_file
    filter_type: static.filter_type
    filter_broker: ["company_a"] # brokers to filter to
    funds: static.funds
    delisted: static.delisted
    benchmarks: ["IVV"] # benchmarks to compare against
    other_fields: static.other_fields

  company_b:
    tx_file: static.tx_file
    filter_type: static.filter_type
    filter_broker: ["company_b"] # brokers to filter to
    funds: static.funds
    delisted: static.delisted
    benchmarks: ["IVV"] # benchmarks to compare against
    other_fields: static.other_fields

  static:
    tx_file: transactions_demo.csv # location of transaction file
    filter_type: ["Dividend"] # transaction types to filter out
    funds: ["BLKRK"] # funds to use sal price for
    delisted: ["CCIV", "AQUA"] # delisted stocks to avoid getting price history for
    other_fields: ["broker"] # other fields to include in output

#   ____            _            _       
#  |  _ \          | |          | |      
#  | |_) |_   _  __| | __ _  ___| |_ ___ 
#  |  _ <| | | |/ _` |/ _` |/ _ \ __/ __|
#  | |_) | |_| | (_| | (_| |  __/ |_\__ \
#  |____/ \__,_|\__,_|\__, |\___|\__|___/
#                      __/ |             
#                     |___/
#
# These values are used to initialize the budget

budgets:
  personal:
    budgets:
      alcohol: 40
      credit card: 0
      education: 100
      gas: 70
      groceries: 550
      fast food: 230
      home improvement: 300
      home services: 50
      income: -6000
      mortgage: 2000
      pets: 100
      phone: 195
      restaurants: 230
      school loan: 400
      shopping: 500
      television: 110
      transfer: 0
      utilities: 300
    # the default budget
    default: 0
    # the plaid user if empty it will not limit by user
    user: 
    # the model to use
    model: components.pkl

#                         _       
#      /\                | |      
#     /  \   ___ ___  ___| |_ ___ 
#    / /\ \ / __/ __|/ _ \ __/ __|
#   / ____ \\__ \__ \  __/ |_\__ \
#  /_/    \_\___/___/\___|\__|___/
#
# These values are used to track assets

assets:
  users:
    user1: ['toyota']
  cars:
    toyota:
      make: toyota
      model: rav4-hybrid
      year: 2021
      style: le-sport-utility-4d
      mileage: 45000
      intent: trade-in-sell
      condition: verygood

#   _                           
#  | |                          
#  | |     ___   __ _ _ __  ___ 
#  | |    / _ \ / _` | '_ \/ __|
#  | |___| (_) | (_| | | | \__ \
#  |______\___/ \__,_|_| |_|___/
#
# These values are used to track loans
                              
loans:
  users:
    user1: ['house', 'school']
  house:
    original_loan: 500000
    nominal_annual_interest: 5.00
    monthly_payment: 2000
    current_loan: 400000
    total_paid: 200000
  school:
    original_loan: 45000
    nominal_annual_interest: 5.75
    monthly_payment: 350
    current_loan: 25000
    total_paid: 35000
                 